body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
  margin: 0;
}

.container {
  text-align: center;
}

.wheel-of-fortune {
  position: relative;
  width: 300px;
  height: 300px;
  font: 12px/1 "Roboto", sans-serif;
  margin: 0 auto;
}

.wheel-of-fortune__container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border: 10px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #e5b598;
  transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
}

.wheel-of-fortune__segment {
  position: absolute;
  left: 50%;
  top: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0 100%;
}

.wheel-of-fortune__segment:nth-child(even) {
  background: #f48fb1;
}

.wheel-of-fortune__segment:nth-child(odd) {
  background: #81d4fa;
}

.wheel-of-fortune__arrow {
  position: absolute;
  top: -10px; /* Adjusted to place the arrow at the top */
  left: 50%;
  z-index: 2;
  margin-left: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 25px 12.5px; /* Adjusted to make the arrow point downwards */
  border-color: transparent transparent #ae67cb transparent;
}

.wheel-of-fortune__label {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
}

.wheel-of-fortune__label-text {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin-left: -5px;
  padding-left: 25px;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  text-align: center;
  color: white;
  font-weight: bold;
}
